/* jz-dashboard-layout.component.css */
.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(var(--columns, 2), 1fr); /* Use CSS variables for columns */
  grid-gap: 10px; /* Adjust the gap as needed */
  background-color: var(--jz-palette-color-2);
}

.dashboard-panel {
    flex-flow:column;
  background-color: var(--jz-palette-color-3);
  border: 1px solid #666666;
  box-sizing: border-box;
}
