<!--<jz-dashboard-layout style="display:flex; flex-flow:column; width:100%; height:100%">
  <div>
    <jz-dashboard-panel></jz-dashboard-panel>
    <jz-dashboard-panel></jz-dashboard-panel>
  </div>
  <div>
    <jz-dashboard-panel></jz-dashboard-panel>
    <jz-dashboard-panel></jz-dashboard-panel>
  </div>
</jz-dashboard-layout>-->
<jz-dashboard-layout>
  <jz-dashboard-panel>Content for Panel 1</jz-dashboard-panel>
  <jz-dashboard-panel>Content for Panel 2</jz-dashboard-panel>
  <jz-dashboard-panel>Content for Panel 3</jz-dashboard-panel>
  <jz-dashboard-panel>Content for Panel 4</jz-dashboard-panel>
</jz-dashboard-layout>

