<!--<jz-dashboard-layout style="display:flex; flex-flow:column; width:100%; height:100%">
  <div>
    <jz-dashboard-panel></jz-dashboard-panel>
    <jz-dashboard-panel></jz-dashboard-panel>
  </div>
  <div>
    <jz-dashboard-panel></jz-dashboard-panel>
    <jz-dashboard-panel></jz-dashboard-panel>
  </div>
</jz-dashboard-layout>-->

<jz-dashboard-layout [rows]="2" [columns]="2" class="dashboard-layout">

    <jz-dashboard-panel class="dashboard-panel"></jz-dashboard-panel>
    <jz-dashboard-panel class="dashboard-panel"></jz-dashboard-panel>
 
    <jz-dashboard-panel class="dashboard-panel"></jz-dashboard-panel>
    <jz-dashboard-panel class="dashboard-panel"></jz-dashboard-panel>
 
</jz-dashboard-layout>

