<p>admin-menu works!</p>

<div #menuContainer>
  <jz-menu-container [menuName]="'admin'"
                     [orientation]="'vertical'"
                     [menuType]="'menu-subview'"
                     type="view">

    <div class="menu-panel-title">
      <div style="margin-left:5px">DataViz</div>
    </div>

    <jz-tab [route]="'/admin/home'" [btnTxt]="'Home'"
            class="menu-vertical menu-subview selected"
            [state]="'selected'" [menuItem]="'home'" [orientation]="'vertical'"></jz-tab>

    <jz-tab [route]="'/admin/chorodash'" [btnTxt]="'Choro dash'"
            [menuType]="'menu-subview'"
            [menuItem]="'chorodash'"
            [menuName]="'Dataviz'"
            [orientation]="'vertical'"></jz-tab>

  </jz-menu-container>
</div>
