
div {
  color: black;
  border-radius: 8px;
}

.jz-button {
  width: 100%;
  height:100%; 
  border: 0px;
}

.jz-button-base-layer {
  width: 100%;
  height: 100%;
}

.jz-button-container {
  background: linear-gradient(to bottom right,#ffffff60,#00000020);
  width: 100px;
}

.jz-button-bevel { 
  background: linear-gradient(to right,#ffffff30 0%, #ffffff05 3%, #ffffff05 97%, #00000066 100%);
  width: 100%;
}

.jz-button-top-bevel {
  background: linear-gradient(to right,#ffffff05,#ffffff15);
  width: 100%;
  height: 100%;
}

.jz-button-text {
  align-items: center;
  font-size: 13px;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: linear-gradient(#ffffff30 0%, #ffffff05 10%, #ffffff05 90%, #00000066 100%);
  cursor: pointer;
}

.jz-button.login {
  color: black;
}

  .jz-button.login > .jz-button-text {
    color: black;
  }

.menu-view {
}

  .menu-view.selected {
    background-color: var(--jz-palette-color-4);
  }

    .menu-view.selected .jz-button-text {
      color: var(--jz-palette-text-4);
    }

.menu-subview {
}

.selected.menu-subview {
}

.selected.menu-subview .jz-button-text {
}

.menu-subview .selected .jz-button-base-layer {
  background-color: var(--jz-palette-color-4);
}

.menu-subview .selected .jz-button-text {
  color: var(--jz-palette-text-4);
}

.selected > .jz-button-text {
  color: var(--jz-palette-text-4);
}

.selected .jz-button-text {
  color: var(--jz-palette-color-3);
}
