
.jz-button {
  width: 100%;
  height:100%;
  border-radius: 5px;
  border: 0px;
}

.jz-button-base-layer {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.jz-button-container {
  border-radius: 5px;
  background: linear-gradient(to bottom right,#ffffff60,#00000020);
  width: 100px;
}

.jz-button-bevel { 
  border-radius: 5px;
  background: linear-gradient(to right,#ffffff30 0%, #ffffff05 3%, #ffffff05 97%, #00000066 100%);
  width: 100%;
}

.jz-button-top-bevel {
  border-radius: 5px;
  background: linear-gradient(to right,#ffffff05,#ffffff15);
  width: 100%;
  height: 100%;
}



.jz-button-text {
  align-items: center;
  font-size: 13px;
  /*border: .5px solid #00000020;*/
  border-radius: 5px;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: linear-gradient(#ffffff30 0%, #ffffff05 10%, #ffffff05 90%, #00000066 100%);
  cursor: pointer;
}

.menu-view {
}

  .menu-view.selected {
    color: var(--jz-palette-color-3);
  }

    .menu-view.selected .jz-button-text {
      color: var(--jz-palette-color-3);
    }

.menu-subview {

}

.selected.menu-subview {
}

.selected.menu-subview .jz-button-text {
}



.selected > .jz-button-text {
  color: var(--jz-palette-color-3);
}

.selected .jz-button-text {
  color: var(--jz-palette-color-3);
}
