.grid3x3 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "top-left top-center top-right"
    "middle-left middle-center middle-right"
    "bottom-left bottom-center bottom-right";
}
