
.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 4px;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-template-rows: repeat(3, minmax(auto, 1fr));
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.grid-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #ccc;
  border: 1px solid gray;
}

.grid-panel-center {
  grid-area: e;
}






.jz-button-container {
  border-radius: 5px;
  background: linear-gradient(to bottom right,#ffffff60,#00000020);
  width: 100px;
}

.jz-button-bevel {
  border-radius: 5px;
  background: linear-gradient(to right,#ffffff30 0%, #ffffff05 3%, #ffffff05 97%, #000000ff 100%);
  width: 100%;
}

.jz-button-top-bevel {
  border-radius: 5px;
  background: linear-gradient(to right,#ffffff05,#ffffff15);
  width: 100%;
  height: 100%;
}

.jz-button {
  width: 100%;
  border-radius: 5px;
  border: 0px;
}

.jz-button-text {
  cursor: pointer;
  border: .5px solid #000000a0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: white;
  justify-content: center;
  background: linear-gradient(#ffffff30 0%, #ffffff05 10%, #ffffff05 90%, #000000ff 100%);
}

.jz-button-base-layer {
  width: 100px;
  height: 28px;
  border-radius: 5px;
  background-color: var(--jz-palette-color-2);
}
