.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px; /* Optional: adds some space between grid items */
}

.grid-item {
  background-color: transparent;
  border: .5px solid #333333;
  padding: 4px;
  text-align: center;
}

  .grid-item.center {
    justify-content: center;
    align-items: center;
  }

  .grid-item.bottom {
    justify-content: center;
    align-items: end;
  }

.j3-button-container {
  border-radius: 5px;
  background: linear-gradient(to bottom right,#ffffff60,#00000020);
  width: 100px;
}

.j3-button-bevel {
  border-radius: 5px;
  background: linear-gradient(to right,#ffffff30 0%, #ffffff05 3%, #ffffff05 97%, #000000ff 100%);
  width: 100%;
}

.j3-button-top-bevel {
  border-radius: 5px;
  background: linear-gradient(to right,#ffffff05,#ffffff15);
  width: 100%;
  height: 100%;
}

.j3-button {
  width: 100%;
  border-radius: 5px;
  border: 0px;
}

.j3-button-text {
  cursor: pointer;
  border: .5px solid #000000a0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  color: white;
  justify-content: center;
  background: linear-gradient(#ffffff30 0%, #ffffff05 10%, #ffffff05 90%, #000000ff 100%);
}

.j3-button-base-layer {
  width: 100px;
  height: 28px;
  border-radius: 5px;
  background-color: var(--jz-palette-color-2);
}
