div {
    border:1px solid #202020;
}

.image-container {
    margin:auto;
}

.logo-container {
  margin: auto;
  padding: 8px;
  margin-right: 36px;
  margin-left: 8px;
}

.app-header {
  border: 1px solid yellow;
  margin-bottom: 6px;
}


