
<div #appHeader class="app-header">

  <div [ngStyle]="{'visibility':isMainMenuVisible ? 'visible' : 'hidden'}"
       class="grid-col-fixed logo-container" >
    <img src="../assets/logos/JazLogo-Master-5a.svg" height="48" />
  </div>

  <div class="grid-col-fill">
    <div class="grid-cols" style="justify-content:end">
      <div style="margin-right:16px;margin-top:8px">

        <menu-palette></menu-palette>

      </div>

      <menu-main-aux #mainMenuAux></menu-main-aux>

    </div>

    <div #mainMenuContainer
         [ngStyle]="{'visibility':isMainMenuVisible ? 'visible' : 'hidden'}"
         class="grid-row-fixed main-menu-container">

      <main-menu #mainMenu></main-menu>

    </div>
  </div>

</div>
