
.dashboard-panel {
  background-color: var(--jz-palette-color-3);
  border: 1px solid #666666;
  box-sizing: border-box;
}

.panel-header {
 /* background-color: var(--jz-palette-color-1);
  padding: 10px;*/
 /* font-weight: bold;*/
 font-size:12px;
 color:var(--jz-palette-text-3);
}

.panel-content {
  padding: 10px;
}
