
<div class="grid3x3">
  <div class="top-left"></div>
  <div class="top-center">
    <main-menu #mainMenu></main-menu>
  </div>
  <div class="top-right"></div>

  <div class="middle-left"></div>
  <div class="middle-center">
    <img src="../assets/logos/JazLogo-Master-5c.svg" width="300" />
  </div>
  <div class="middle-right"></div>

  <div class="bottom-left">
    <img src="../assets/logos/NewJazLogo.svg" width="300" />
  </div>
  <div class="bottom-center">
    <jz-logo></jz-logo>
  </div>
  <div class="bottom-right"></div>
</div>
