
.app-footer {
  background-color:var(--jz-palette-color-1);
  color: var(--jz-palette-text-1);
  font-size: 10px;
  padding: 8px;
}

  .app-footer div {
    background-color: var(--jz-palette-color-1);
    color: var(--jz-palette-text-1);
    font-size: 11px;
  }
