
div {
    color:black;
}

.jz-button {
  color: black;
}

.jz-button.login {
  color: black;
}

.jz-button > .jz-button-text {
  color: black;
}

.jz-button-text {
    font-size:16px;
}

.login-container {
  flex-flow: column;
  width: 325px;
  margin: 0 auto;
  padding: 4px 16px 16px 16px;
  border: 1px solid var(--jz-palette-color-5);
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(256, 256, 256, 0.5);
  background-color: var(--jz-palette-color-4);
}

.metallic-box {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, #DEB841, #FDF5CE);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.form-group {
  flex-flow:column;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  border: 1px solid var(--jz-palette-color-1);
  background-color: var(--jz-palette-color-5);
  border-radius: 8px;
}

.btn {
  padding: 10px 20px;
  background-color: var(--jz-palette-color-3);
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

  .btn:hover {
    background-color: #0056b3;
  }



