
<div class="grid-container">
  <div class="grid-item"></div>

  <div class="grid-item"></div>
  <div class="grid-item center">
    <div class="app-logon" style="flex-flow:column">
      <div>Login as Guest</div>
      <div class="j3-button-base-layer" width="100px" height="36px">
        <div class="j3-button-bevel">
          <div #btn class="j3-button" id="'btn1" (click)="login()">
            <div class="j3-button-text">{{btnTxt}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item"></div>

  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>
