

<div #menuContainer>
  <jz-menu-container [menuName]="'sandbox'"
                     [orientation]="'vertical'"
                     [menuType]="'menu-subview'"
                     type="view">

    <div class="menu-panel-title">
      <div>Sandbox</div>
    </div>

    <jz-tab [route]="'/sandbox/home'" [btnTxt]="'Home'"
            class="menu-vertical menu-subview selected"
            [state]="'selected'" [menuItem]="'home'" [orientation]="'vertical'"></jz-tab>

    <jz-tab [route]="'/sandbox/chorousa'" [btnTxt]="'Choro USA'"
            [menuType]="'menu-subview'"
            [menuItem]="'chorousa'"
            [menuName]="'sandbox'"
            [orientation]="'vertical'"></jz-tab>

    <jz-tab [route]="'/sandbox/syncdash'" [btnTxt]="'Sync Dash'"
            [menuType]="'menu-subview'"
            [menuItem]="'syncdash'"
            [menuName]="'sandbox'"
            [orientation]="'vertical'"></jz-tab>

    <jz-tab [route]="'/sandbox/jzdash'"
            [btnTxt]="'Dashboard'"
            [menuType]="'menu-subview'"
            [menuItem]="'jzdash'"
            [menuName]="'sandbox'"
            [orientation]="'vertical'"></jz-tab>

    <jz-tab [route]="'/sandbox/chorodash'"
            [btnTxt]="'Chorodash'"
            [menuType]="'menu-subview'"
            [menuItem]="'chorodash'"
            [menuName]="'sandbox'"
            [orientation]="'vertical'"></jz-tab>

    <jz-tab [route]="'/sandbox/techchart'"
            [btnTxt]="'TechChart'"
            [menuType]="'menu-subview'"
            [menuItem]="'techchart'"
            [menuName]="'sandbox'"
            [orientation]="'vertical'"></jz-tab>

    <jz-tab [route]="'/sandbox/technical'"
            [btnTxt]="'Techan'"
            [menuType]="'menu-subview'"
            [menuItem]="'technical'"
            [menuName]="'sandbox'"
            [orientation]="'vertical'"></jz-tab>

  </jz-menu-container>
</div>
