
/*@font-face {
  font-family: 'museo';
  src: url('assets/fonts/Museo300-Regular-webfont.ttf');
}*/

@font-face {
 /* font-family: 'museo300-regular-webfont';
  src: url('d:\.jaznet-repository\jazstudio\jazstudio\clientapp\src\assets\fonts\museo300-regular-webfont.ttf') format('truetype');*/
}
