body {
  width: 100%;
  height: 100%;
}

.center  {
    justify-content:center;
}

.fit-to-parent {
  width: 100%;
  height: 100%;
  display: flex;
}

.fit-to-content {
  height: fit-content;
  width: fit-content;
}

.overlay-container {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay-layer {
  background-color: transparent;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


