
.menu-view {
}

  .menu-view.selected {
    color: var(--jz-palette-color-3);
  }

  .menu-view .jz-button-text {
    color: var(--jz-palette-text-1);
  }

  .menu-view .selected .jz-button-text {
    color: var(--jz-palette-text-4);
  }

  .menu-view .selected {
    color: var(--jz-palette-color-4);
  }

.menu-subview {
}

  .menu-subview .jz-button-text {
    color: var(--jz-palette-text-3);
  }

  .menu-subview .selected .jz-button-text {
    color: var(--jz-palette-text-4);
  }

  .menu-subview .jz-button-base-layer {
    background-color: var(--jz-palette-color-3);
  }

  .menu-subview .selected .jz-button-base-layer {
    background-color: var(--jz-palette-color-4);
  }

.menu-container {
}

  .menu-container.menu-subview {
  }

    .menu-container.menu-subview .jz-button-base-layer {
      /* background-color:var(--jz-palette-color-3);*/
    }

  .menu-container.menu-vertical .menu-tab-panel {
    flex-flow: column;
  }

.menu-panel-title {
  color: var(--jz-palette-text-1);
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

  .menu-panel-title div {
    color: var(--jz-palette-text-1);
  }

  .menu-panel-title > div {
    color: var(--jz-palette-text-1);
  }

.menu-panel-sub-title {
  color: var(--jz-palette-text-1);
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}

  .menu-panel-sub-title div {
    color: var(--jz-palette-text-1);
  }

.menu-tab-panel {
}

.jztab {
}

  .jztab.vertical {
  }

    .jztab.vertical .tab-border {
      margin-left: 8px;
      padding: 0 8px;
      border: 1px solid transparent;
      border-radius: 8px 0;
    }

      .jztab.vertical .tab-border.selected {
        padding: 4px 8px;
        border: 2px solid var(--jz-palette-border);
        border-radius: 8px 0 0 8px;
      }

      .jztab.vertical .tab-border.veritcal {
      }

      .jztab.vertical .tab-border.horizontal {
      }

.menu-tab-panel.horizontal {
}

.menu-tab-panel.horizontal {
}
