
<jz-menu-container class="menu-horizontal menu-view"
                   [orientation]="'horizontal'"
                   [menuType]="'menu-view'"
                   [menuName]="'menu-main'">

  <jz-tab [state]="'selected'" [route]="'/home'" [btnTxt]="'Homex'"
          [menuItem]="'home'" [menuName]="menuName" [menuType]="'menu-view'"
          [orientation]="'horizontal'"></jz-tab>

  <jz-tab [route]="'/dataviz'" [btnTxt]="'Data Viz'"
          [menuItem]="'dataviz'" [menuName]="menuName" [menuType]="'menu-view'"
          [orientation]="'horizontal'"></jz-tab>

  <jz-tab [route]="'/backoffice'" [btnTxt]="'Backoffice'"
          [menuItem]="'backoffice'" [menuName]="menuName" [menuType]="'menu-view'"
          [orientation]="'horizontal'"></jz-tab>

  <jz-tab [route]="'/sandbox'" [btnTxt]="'Sandbox'"
          [menuItem]="'sandbox'" [menuName]="menuName" [menuType]="'menu-view'"
          [orientation]="'horizontal'"></jz-tab>

  <jz-tab [route]="'/architecture'" [btnTxt]="'Architecture'"
          [menuItem]="'architecture'" [menuName]="menuName"  [menuType]="'menu-view'"
          [orientation]="'horizontal'"></jz-tab>

  <jz-tab  [route]="'/admin'" [btnTxt]="'Administration'" [menuItem]="'admin'" [menuName]="menuName"
          [menuType]="'menu-view'"
          [orientation]="'horizontal'"></jz-tab>

</jz-menu-container>
