<p>choro-usa works!</p>

<div class="grid-cols">
  <div #USA id="usa-div" class="grid-col-fill">
    <svg #USA_svg id='usa-svg' xmlns='http://www.w3.org/2000/svg' class='svgElement' width="100%" height="100%">
      <g #USA_grp id="usa-grp" class="usa-layer-class" style="transform-origin:center;"> </g>
    </svg>
  </div>
  <div class="grid-col-fixed">population</div>
</div>

<!--<http-error-popover #httperrorpopover [target]="'#svgContainer_USA'"></http-error-popover>
<loading-popover #loadingpopover [target]="'#svgContainer_USA'"></loading-popover>-->
<!--<loading-popover #loadingpopover [target]="'#svgContainer_USA'"></loading-popover>-->

